:root {
    --primary: #2F3136;
    --secondary: #202225;
}

.chat {
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}


.chat__info {
    color: white;
    display: flex;
    flex-direction: column ;
    padding: 0.5rem;
    margin: 0;
    height: 8vh;
}

h3,h6 {
    margin: 0.25rem;
}

.chat__body {
    scroll-behavior: smooth;
    height: 70vh;
    background-color: var(--primary);
    overflow-y: auto;
}

.chat__messageInput {
    width: 100%;
    height: 9vh;
    display: flex;
    background-color: var(--secondary);
}

form,
.MuiFormControl-root {
    width: 98%;
}

.MuiInputBase-input,
label {
    color: white !important;
}

.chat_user {
    display: flex;
    flex-direction: column;
}

.chat_user>p {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.chat__messagesent,
.chat__messagereceived {
    display: flex;
    max-width: 100%;
    padding: 1rem 0.5rem 0 0;
    background-color: var(--secondary);
    color: white;
}


.chat__messagereceived {
    background-color: var(--primary);
}

.chat__messagesent:hover ,
.chat__messagereceived:hover {
    background-color: gray;
}