:root {
    --primary: #2F3136;
    --secondary: #202225;
}


.chatroom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary);
    border-radius: 1rem;
    margin: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(136, 132, 132, 0.2), 0 6px 20px 0 rgba(214, 206, 206, 0.19);
    padding: 1rem;
}

span{
    color: white;
}

.chatroom-hide,.test {
    display: none;
}

.chatroom-show,.test {
    padding: 0.5rem;
}

#standard-basic-label,
#standard-basic {
    color: white;
    margin-top: 1rem;
}

form>button {
    display: none;
}

a {
    text-decoration: none;
}

.chatroom_chatlist {
    height: 65vh;
    overflow-y: auto;
    padding: 1rem;
}

.chatroom_chatlist :hover {
    background-color: var(--primary);
}

.chatlist__div {
    color: white;
    font-size: medium;
}


@media (max-width:421px) {
    .chatroom {
        background-color: var(--secondary);
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    .chatroom-show {
        width: 100vw;
    }
    
    .chatroom_chatlist {
        width: 100vw;
        padding: 1.2rem;
        background-color: var(--secondary);
    }
    .chatlist__name {

        font-size: 1.25rem;
    }
}