:root {
    --primary: #2F3136;
    --secondary: #202225;
}


.chatroom {
    background-color: var(--secondary);
}

span{
    color: white;
}

.chatroom-hide {
    display: none;
}

.chatroom-show {
    padding: 0.5rem;
}

#standard-basic-label,
#standard-basic {
    color: white;
    margin-top: 1rem;
}

form>button {
    display: none;
}

a {
    text-decoration: none;
}

.chatroom_chatlist {
    height: 65vh;
    overflow-y: auto;
    padding: 1rem;
}

.chatroom_chatlist :hover {
    background-color: var(--primary);
}

.chatlist__div {
    color: white;
    font-size: medium;
}


@media (max-width:421px) {
    .chatroom {
        background-color: var(--secondary);
    }
    
    .chatroom-show {
        width: 100vw;
    }
    
    .chatroom_chatlist {
        width: 100vw;
        padding: 1.2rem;
        background-color: var(--secondary);
    }
    .chatlist__name {

        font-size: 1.25rem;
    }
}