.chatroom-hide{
    width: 0;
    display: none;
}

.chatroom-show {
    width: 30vw;
}

form > button {
   display: none;
}

.chatroom_chatlist {
    width: 30vw;
    padding: 1.2rem;
}

@media (max-width:421px) {
    .chatroom-show {
        width: 100vw;
    }

    .chatroom_chatlist {
        width: 80vw;
        padding: 1.2rem;
    }
           
}