:root {
    --primary: #2F3136;
    --secondary: #202225;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Roboto;
    background-color: var(--secondary);
}

.app {
    display: flex;
    flex-direction: row;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 1rem;
    border-bottom: 1px lightgray solid;
}

.banner>a {
    text-align: center;
    font-size: x-large;
    color: white;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}